In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "1377215Amir",
    "database": "laptop_analysis",
}

conn = mysql.connector.connect(**db_config)
mycursor = conn.cursor()

<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
درخواست اختصاصی</font>

</h1>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
دراین بخش با توجه به مشکلات شرکت در اختصاص تخفیف بهینه، ما می‌خواهیم کالاهایی را که برای تخفیف دادن مناسب‌تر هستند را به شرکت معرفی کنیم.
</p>

In [34]:
query = """
SELECT 
    l.Model_Name,
    l.Manufacturer,
    l.Category,
    SUM(Quantity) AS TotalQuantity,
    SUM(Profit)/SUM(Quantity) AS ProfitPerUnit,
    SUM(Profit)/SUM(Price)*100 AS ProfitPercentage
FROM `order`
JOIN laptop l ON l.laptop_id = `order`.laptop_id
GROUP BY l.Model_Name, l.Manufacturer, l.Category
ORDER BY TotalQuantity DESC
"""

Models = pd.read_sql(query, conn)

C:\Users\amirs\AppData\Local\Temp\ipykernel_5092\3557152510.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Models = pd.read_sql(query, conn)

In [35]:
Models.head(10)

,Model_Name,Manufacturer,Category,TotalQuantity,ProfitPerUnit,ProfitPercentage
0,ProBook 450,HP,Notebook,32433.0,1.106632e+06,10.958850
1,Legion Y520-15IKBN,Lenovo,Gaming,28362.0,1.322905e+06,10.912547
2,Inspiron 5570,Dell,Notebook,26902.0,1.170475e+06,10.944047
3,XPS 13,Dell,Ultrabook,20669.0,1.810559e+06,11.035001
4,Inspiron 3567,Dell,Notebook,20419.0,7.930413e+05,10.906008
5,Probook 440,HP,Notebook,19375.0,1.185286e+06,10.917301
6,Probook 470,HP,Notebook,19214.0,1.316306e+06,10.988027
7,Inspiron 5567,Dell,Notebook,17532.0,1.043101e+06,11.024750
8,Latitude 5580,Dell,Notebook,16518.0,1.346722e+06,11.013301
9,Vostro 3568,Dell,Notebook,16021.0,8.191873e+05,10.924698

In [36]:
#Scaling
Models['TotalQuantity'] = (Models['TotalQuantity'] -Models['TotalQuantity'].min()) / (Models['TotalQuantity'].max() - Models['TotalQuantity'].min())
Models['ProfitPerUnit'] = (Models['ProfitPerUnit'] -Models['ProfitPerUnit'].min()) / (Models['ProfitPerUnit'].max() - Models['ProfitPerUnit'].min())
Models['ProfitPercentage'] = (Models['ProfitPercentage'] -Models['ProfitPercentage'].min()) / (Models['ProfitPercentage'].max() - Models['ProfitPercentage'].min())

Models

,Model_Name,Manufacturer,Category,TotalQuantity,ProfitPerUnit,ProfitPercentage
0,ProBook 450,HP,Notebook,1.000000,0.167110,0.423261
1,Legion Y520-15IKBN,Lenovo,Gaming,0.874169,0.206356,0.408250
2,Inspiron 5570,Dell,Notebook,0.829042,0.178695,0.418462
3,XPS 13,Dell,Ultrabook,0.636386,0.294848,0.447948
4,Inspiron 3567,Dell,Notebook,0.628659,0.110204,0.406130
...,...,...,...,...,...,...
578,Chromebook N23,Lenovo,Netbook,0.000371,0.034186,0.161168
579,15-bw000nv (E2-9000e/4GB/500GB/Radeon,HP,Notebook,0.000340,0.037106,0.321864
580,X541NA-PD1003Y (N4200/4GB/500GB/W10),Asus,Notebook,0.000340,0.048113,0.451964
581,GT73VR Titan,MSI,Gaming,0.000247,0.583483,0.437794
582,GT80S 6QF-074US,MSI,Gaming,0.000000,0.564291,0.394891

In [37]:

Models['Measurement criteria'] = (Models['TotalQuantity']) + (Models['ProfitPerUnit']) +(Models['ProfitPercentage'])
best_Models = Models.sort_values(['Measurement criteria'], ascending=False)
best_Models

,Model_Name,Manufacturer,Category,TotalQuantity,ProfitPerUnit,ProfitPercentage,Measurement criteria
554,ROG G701VO,Asus,Gaming,0.000835,0.923143,0.704941,1.628919
524,ROG G703VI-E5062T,Asus,Gaming,0.001175,0.872314,0.740639,1.614128
353,Blade Pro,Razer,Gaming,0.016413,1.000000,0.596216,1.612628
0,ProBook 450,HP,Notebook,1.000000,0.167110,0.423261,1.590371
569,Portege X30-D-10L,Toshiba,Ultrabook,0.000556,0.739430,0.825836,1.565822
...,...,...,...,...,...,...,...
541,A541NA-GO342 (N3350/4GB/500GB/Linux),Asus,Notebook,0.000927,0.005013,0.147315,0.153254
545,VivoBook X540YA-XX519T,Asus,Notebook,0.000927,0.044094,0.095315,0.140336
559,E402WA-GA010T (E2-6110/2GB/32GB/W10),Asus,Notebook,0.000773,0.011177,0.081500,0.093449
557,V131 (X5-Z8350/4GB/32GB/FHD/W10),Vero,Notebook,0.000804,0.005874,0.016480,0.023158
540,Stream 14-AX040wm,HP,Notebook,0.000958,0.011808,0.000000,0.012766

In [38]:
best_Models = best_Models.drop(columns=['TotalQuantity', 'ProfitPerUnit','ProfitPercentage'])

In [39]:
best_Models = best_Models.reset_index(drop=True)
best_Models

,Model_Name,Manufacturer,Category,Measurement criteria
0,ROG G701VO,Asus,Gaming,1.628919
1,ROG G703VI-E5062T,Asus,Gaming,1.614128
2,Blade Pro,Razer,Gaming,1.612628
3,ProBook 450,HP,Notebook,1.590371
4,Portege X30-D-10L,Toshiba,Ultrabook,1.565822
...,...,...,...,...
578,A541NA-GO342 (N3350/4GB/500GB/Linux),Asus,Notebook,0.153254
579,VivoBook X540YA-XX519T,Asus,Notebook,0.140336
580,E402WA-GA010T (E2-6110/2GB/32GB/W10),Asus,Notebook,0.093449
581,V131 (X5-Z8350/4GB/32GB/FHD/W10),Vero,Notebook,0.023158
582,Stream 14-AX040wm,HP,Notebook,0.012766

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ما در این تحلیل تلاش کردیم تا کالاهایی را که پتانسیل بهتری برای تخفیف دادن دارند را به شرکت معرفی کنیم. برای این منظور ما سه عامل را در نظر گرفته‌ایم:
</p>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
عامل محبوبیت: برای آنکه تخفیف‌ها تاثیر مثبتی داشته باشند بهتر است روی کالاهایی اعمال شوند که در بین خریداران به طور کلی دارای اقبال بیشتری هستند. بنابراین با رجوع به داده‌های فروش شرکت، تعداد فروش هر لب تاپ در گذشته را به عنوان معیار محبوبیت در نظر می‌گیریم.</p>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
عامل سود: هدف از تخفیف دادن در وهله اول جذب مشتری و به واسطه آن افزایش سود است بنابرین مهم است که این تخفیف ها به نوعی باشند که با افزایش تعداد مشتریان مقدار سود بالایی را نصیب شرکت کنند. </p> 
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
عامل تعیین پتانسیل درصد تخفیف : تخفیف ها باید به نوعی باشند که درصد سود ما منفی و بسیار کم نشود. عاملی که تعیین میکند دست ما تا چه حد برای تخفیف دادن باز است درصد سودی است که شرکت از هر کالا میبرد. بنابراین هر چقدر درصد سودی که شرکت از یک کالا میبرد بیشتر باشد آن کالا پتانسیل بیشتری برای تخفیف دادن دارد.
<p> 

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
پس معیار ترکیبی ما پس از scaling به صورت زیر است و هر چقدر این معیار برای کالایی بیشتر باشد آن کالا پتانسیل بیشتری برای تخفیف دادن دارد :

Measurement criteria = TotalQuantity + ProfitPerUnit + ProfitPercentage

</p>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 </p>