# task 7

Request :
In the past, the company had a policy that assigned a level of importance to orders and acted differently in some issues (such as how to send, etc.) To check whether this policy is worth the company's hardships or not?
Solution :
To check if the policy is worth the company's hardships, you can perform hypothesis testing. You may use a t-test or ANOVA to compare the importance of orders with and without the policy."

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
# connect to data base 
from sqlalchemy import create_engine, Column, Integer, String, MetaData, Table

# Initialize SQLAlchemy Metadata object
meta = MetaData()
# Define database connection details
USERNAME = 'root'
PASSWORD = '1393ram1393#$'
SERVER = 'localhost'
# Create a SQLAlchemy engine for connecting to the MySQL database
engine = create_engine(f'mysql+pymysql://{USERNAME}:{PASSWORD}@{SERVER}:3306/Laptop_analysis_and_Warehousing_g3', echo=True)
conn = engine.connect()

2023-10-25 13:13:22,587 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-10-25 13:13:22,588 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-25 13:13:22,589 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-10-25 13:13:22,590 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-25 13:13:22,590 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-10-25 13:13:22,591 INFO sqlalchemy.engine.Engine [raw sql] {}

In [3]:
metadata = MetaData()

# Replace "your_table_name" with the name of your table
table_name = "order"

your_table = Table(table_name, metadata, autoload=True, autoload_with=engine)

2023-10-25 13:13:55,965 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `order`
2023-10-25 13:13:55,966 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-25 13:13:55,971 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2023-10-25 13:13:55,972 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {'table_data_1_1': 'laptop_analysis_and_warehousing_g3', 'table_data_1_2': 'laptop', 'table_data_1_3': 'laptop_id'}
2023-10-25 13:13:55,979 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `laptop`
2023-10-25 13:13:55,979 INFO sqlalchemy.engine.Engine [raw sql] {}

In [5]:
# Define the columns you want to read
from sqlalchemy.orm import sessionmaker

# Initialize SQLAlchemy session
Session = sessionmaker(bind=engine)

# Assuming you have a session and SQLAlchemy model defined as mentioned before
session = Session()

# Define the columns you want to read
Price = your_table.c.Total_Price
Discount = your_table.c.Ship_Duration
Profit = your_table.c.Profit
Priority = your_table.c.Order_Priority

# Query the database to fetch the data for the specified columns
results = session.query(Price, Discount, Profit, Priority).all()

# Convert the results to a Pandas DataFrame
data = [(row[0], row[1], row[2], row[3]) for row in results]
df_order = pd.DataFrame(data, columns=["Price", "Discount", "Profit", "Priority"])
df_order

2023-10-25 13:18:14,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-25 13:18:14,587 INFO sqlalchemy.engine.Engine SELECT `order`.`Total_Price` AS `order_Total_Price`, `order`.`Ship_Duration` AS `order_Ship_Duration`, `order`.`Profit` AS `order_Profit`, `order`.`Order_Priority` AS `order_Order_Priority`
FROM `order`
2023-10-25 13:18:14,587 INFO sqlalchemy.engine.Engine [cached since 21.91s ago] {}

              Price  Discount     Profit Priority
0         3450000.0         3   250000.0        H
1         1100000.0         5   100000.0        M
2        15580000.0        10  1920000.0        L
3        20150000.0         3  2170000.0        H
4         4250000.0         6   430000.0        M
...             ...       ...        ...      ...
1017076   1150000.0        10    80000.0        L
1017077   1350000.0         8   130000.0        L
1017078  15150000.0         8  1680000.0        L
1017079   8950000.0         6  1140000.0        M
1017080  10600000.0        10   980000.0        L

[1017081 rows x 4 columns]

In [6]:
# close the session of database 
session.close()

2023-10-25 13:18:45,890 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
# close the connection of database 
conn.close()